<!DOCTYPE html>
<html>

<head>
    <title>Formulario Indicador</title>x|
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body class="container">

    <h1 class="form-group text-center">Indicador</h1>
    <form action="/guardarIndicador" method="POST" data-toggle="validator" class="jumbotron container" style="width: 60%;">
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Codigo</label>
                <input type="text" name="codigo" class="form-control" required>
            </div>
            <div class="col-sm-6">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Descripcion</label>
                <input type="text" name="descripcion" class="form-control">
            </div>

            <div class="col-sm-4">
                    <label>Prioridad</label>
                    <input type="number" name="prioridad" class="form-control">
                </div>  

            
        </div>
        <div class="form-group row">
                <div class="col-sm-5">
                        <label>IndicadorT</label>
                        <select name="indicadorT" class="form-control" required>
                        {% for item in indicadores %}
                        <option value="{{item}}">{{ item }}</option>
                        {% endfor %}
                    </div>

        </div>

        <!--Boton para validar campos-->
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
        </div>
    </form>
</body>

</html>